<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="21074mdran.FlappyClause" Version="1.1.0.1" Publisher="CN=DC62A81F-44C4-433B-BFB8-213324D99C7E" />
  <Properties>
    <DisplayName>Flappy Clause</DisplayName>
    <Description>HelpSanta</Description>
    <PublisherDisplayName>Michal Dron</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index-win.html">
      <m2:VisualElements DisplayName="Flappy Clause" Description="Flappy Clause is a mini game made at the event Night of the living Devs 3. It is made on flappy bird theme." ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile Square310x310Logo="asstes_images\help_310_310.png" Wide310x150Logo="asstes_images\help_310_150.png" Square70x70Logo="asstes_images\help_70_70.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="portraitFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>